:root {
    --family: Arial, sans-serif;
    --background: rgb(255, 255, 255);
    --foreground: #3a3a3a;
    --header-fs: clamp(2rem, 1.5rem + 2vw, 3rem);
    --title-fs: clamp(1.5rem, 1.2rem + 1vw, 2rem);
    --normal-fs: clamp(1rem, 0.9rem + 0.8vw, 1.5rem);
    --small-fs: clamp(0.875rem, 0.8rem + 0.3vw, 1rem);
    --bold-f: 700;
    --radius: 10px;
    --small-gap: 0.5em;
    --normal-gap: 1em;
    --big-gap: 2em;
    --muted: rgb(165, 165, 165);
    --hovered: rgb(195, 195, 195);
    --border: solid 2px var(--muted);
    --shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

[data-theme="light"] {
    --background: rgb(255, 255, 255);
    --foreground: #3a3a3a;
    --muted: rgb(165, 165, 165);
    --hovered: rgb(195, 195, 195);
    --shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

[data-theme="dark"] {
    --background: rgb(51, 51, 51);
    --foreground: rgb(255, 255, 255);
    --muted: rgb(165, 165, 165);
    --hovered: rgb(195, 195, 195);
    --shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

html {
    box-sizing: border-box;
    font-size: 100%;
    margin: 0;
}

body {
    background: var(--background);
    font-family: var(--family);
    color: var(--foreground);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--foreground);
}

.title-fs {
    font-size: var(--title-fs);
}

.header-fs {
    font-size: var(--header-fs);
}

.normal-fs {
    font-size: var(--normal-fs);
}

.small-fs {
    font-size: var(--small-fs);
}

.f-bold {
    font-weight: var(--bold-f);
}

.f-italic {
    font-style: italic;
}

.c-txt {
    text-align: center;
}

.sub-header {
    width: 100%;
    opacity: 50%;
    text-shadow: var(--shadow);
}

.icon {
    width: var(--normal-fs);
    height: var(--normal-fs);
}

.themeBtn {
    background: transparent;
    color: var(--foreground);
    padding: 0.5em;
    font-size: var(--small-fs);
    border: var(--border);
    border-radius: var(--radius);
    cursor: pointer;
    opacity: 50%;
}

.themeBtn:hover {
    opacity: 100%;
}

.icon-box {
    display: flex;
    align-items: center;
    gap: var(--small-gap);
}

.s-p {
    padding: 0.5em;
}

.n-p {
    padding: 1em;
}

.l-p {
    padding: 3em;
}

.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--normal-gap);
}

.name {
    opacity: 50%;
    cursor: default;
    text-shadow: var(--shadow);
}

.name:hover {
    opacity: 100%;
}

.resp-width{
    width: 100%;
    max-width: 650px;
}

.txt-box {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
}

.box {
    background: var(--background);
    max-width: max(20rem, 100rem);
    display: flex;
    flex-wrap: wrap;
    gap: var(--small-gap);
    padding: 1em;
    justify-content: center;
}

.card {
    width: 100%;
    max-width: clamp(10rem, 80vw, 30rem);
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: var(--border);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    gap: var(--normal-gap);

    a {
        display: flex;
        align-items: center;
        gap: var(--small-gap);
    }
}

.card:hover {
    border: solid 2px var(--hovered);

    .description p {
        opacity: 100%;
    }
}

.card .previews{
    display: flex;
    background: var(--muted);
    width: 100%;
    height: 17rem;
    border-radius: 10px;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.card .previews img {
    scroll-snap-align: start;
    object-fit: contain;
}

.card .description {
    flex: 1 1 0;
    cursor: default;

    p {
        width: 100%;
        font-size: var(--normal-fs);
        font-weight: var(--bold-f);
        opacity: 50%;
        overflow-wrap: break-word;
        word-wrap: break-word;
        white-space: normal;
    }
}

.card .lang-used {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em;
    gap: var(--normal-gap);
    list-style-type: none;

    li {
        display: flex;
        position: relative;
        font-size: var(--small-fs);
        gap: var(--small-gap);
        align-items: center;
        font-weight: var(--bold-f);
        opacity: 75%;
    }

    li::before {
        content: "";
        position: relative;
        width: 0.5em;
        height: 0.5em;
        background: var(--foreground);
        border-radius: 50%;
    }
}
